* {
    padding: 0;
    margin: 0;
}

.col-1,
.col-2,
.col-3          {
    padding: 50px;
    text-align: center;
}

.about-us {
    min-height: 100vh;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #dedede;
    background-image: url("images/about-pic.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    /* position: relative; */
    font-family: cursive;
    
}
  
.col {
   
    display: inline-block;
    margin-top: 10%;
    align-content: space-between;
    display: block;

}

.about-col {
    padding: 20px 12px;  
    border-radius: 10px;
    background: #fff3f3;
    align-content: space-between;
    margin: 50px 20px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3 {
    text-align: center;
}
p {
    text-align: center;
}
.about-col:hover  {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.6);
}
.about-col h1 {
    padding-top: 0;
}
.about-col p {
    padding: 15px 0 25px;
}
.point-btn {
    border: 1px solid green;
    color: green;
    background-color: transparent;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
}
.point-btn:hover {
    color: white;
    background-color: green; 
}
.icons {
    color: green;
    text-align: center;
    }

@media(min-width: 700px){
    .col{
        display: block;
        -moz-box-align: center;
        flex-direction: role;
        margin: auto;
    }
    
    }
 