h1{
    margin: 10px 10px;
}
.section-1{
    background-image: url(images/bild\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.top-content{
    max-width: 300px;
    background-color: tan;
    padding: 0px 20px;
    text-align: center;
}
.container-1{
    font-weight: 900;
    font-family: serif;
    font-size: 30px;
    font-style: oblique;
}
#product-button{
    color: black;
    background-color: rgb(76, 94, 59);
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 25px 10px;
}
.section-2{
    display: flex;
    flex-wrap: nowrap;
}
.hav-bild{
    background-image: url(images/hav.jpg);
}
.hav-bild,
.skog-bild{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hav-text{
    background-color: rgb(59, 104, 155);
}
#tval-hav{
    height: 600px;
    max-width: 400px;
}
.container-2{
    width: 300px;
}
#shop-button{
    color: black;
    background-color: tan;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 25px;
}
.section-3{
    display: flex;
    flex-wrap: nowrap;
}
.skog-bild{
    background-image: url(images/skog.jpg);
}
#tval-skog{
    height: 600px;
    width: auto;
    
}
.skog-text{
    background-color: rgb(76, 94, 59);
}
.container-3{
    width: 300px;
}


/* tablet */
@media screen and (max-width: 960px) {
    header{
        height: 52px
    }
    footer{
        height: ;
    }
}
/* mobile */
@media screen and (max-width: 768px) {
    header{
        height: 32px;
    }
    #logo{
        font-size: 20px;
    }
    h1{
        font-size: 24px;
    }
    .section-1{
        height: 300px;
        
    }
    #tval-hav,
    #tval-skog{
        width: 0px;
        height: 0px;
    }
    .skog-bild{
        background-image: url(images/tval-skog.jpg);
        background-position: center;
    }
    .hav-bild{
        background-image: url(images/tval-hav.jpg);
        background-position: center;
    }
    footer{
        height: 50px;
    }
    .top-content{
        background-color: transparen;
    }
}
